<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avengers Word Game!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_sketchy.css') }}"> 
</head>
<body class="container-md">
    <header>
        <!-- Navigation bar -->
         <img class="img-fluid rounded mx-auto d-block" width= 50% src="{{ url_for('static', filename='the-avengers.png') }}" alt="">
    </header>
    <main>
        <section class="top-section">
            <h1 class="container text-center">Welcome to Avengers Word Game!</h1>
        </section>
        <section class="mid-section">
            {% block content %}

            {% endblock %}
        </section>
        <section class="bottom-section">
            <!-- Conclusion goes here -->
        </section>
    </main>
    <footer>
        <!-- Copyright info...  -->
    </footer>
</body>
</html>