{% extends "base.html" %}

{% block title %}
Series {{series_info.Series}}
{% endblock %}

{% block content %}

<main>
    <section class="top-section">
        <h1>Series # {{ series_info.Series }}</h1>
        <h3>Title for Series # {{ series_info.Series }}: {{ series_info["Articles"][0]["Series_Name"] }}</h3>
        <p class="lead"> {{ series_info["Articles"][0]["Series_Desc"] }}</p>
        <p class="lead"> {{ series_info["Articles"][0]["Series_Summary"] }}</p>
        <p>Link to Video:</p>
        <a href="{{ series_info['Articles'][0]['Series_url'] }}" target="_blank" rel="noopener noreferrer">Watch on
            Youtube</a>

    </section>
    <section class="mid-section">

        <div>
            <h2>Table of articles</h2>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Collapsible Table of Articles
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">


                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Session Name</th>
                                    <th scope="col">Session Description</th>
                                    <th scope="col">Session Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in series_info["Articles"] %}
                                <tr class="table-active">
                                    <th scope="row">{{ article["Session_Number"] }}</th>
                                    <td>{{ article["Session_Name"] }}</td>
                                    <td>{{ article["Session_Desc"] }}</td>
                                    <td>{{ article["Session_Summary"] }}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


    </section>
    <br>
    <hr>
    <br>
    <section class="bottom-section">
        <!-- Add videos embedded from youtube -->
         <div class="container col-md-10">
            
        {% for article in series_info["Articles"] %}

        <div class="card mb-3">
            <h3 class="card-header">{{ article["Session_Number"] }} - {{ article["Session_Name"] }}</h3>
            <div class="card-body">
              <h5 class="card-title">{{ article["Session_Desc"] }}</h5>
              <h6 class="card-subtitle text-muted">{{ article["Session_Summary"] }}</h6>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <iframe width="560" height="315" src="{{ article['Session_url'] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h3>
                        Details of Video:
                    </h3>
                    <p>
                        To be continued...
                    </p>
                    
                </div>

            </div>

            <div class="card-body">
              <p class="card-text lead">{{ article["Series_Name"] }}
                >>>
                  {{ article["Session_Name"] }}</p>
                  <br>
                  {{ article["Session_Desc"] }}
            </div>
            <div class="card-body">
              <a href="https://www.youtube.com/@Vi2sDk?sub_confirmation=1" class="card-link">Subscribe</a>
              <a href="http://Facebook.com/Vi2sDk" class="card-link">Follow</a>
              <a href="http://LinkedIn.com/in/dkvitus" class="card-link">Connect</a>
            </div>
        </div>

        {% endfor %}
          
         </div>

    </section>
</main>

{% endblock %}